<a href="https://colab.research.google.com/github/cwcheng0/Tourism/blob/master/2020TaiwanHotelOccupacyRate_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [352]:
# Read Taiwan hotel data
# Install extensions
#import depencies
import pandas as pd
import numpy as np

In [353]:
# Mount personal Google Drive; all data files are in personal Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [354]:
# Create a file to see if it works
with open('/content/gdrive/My Drive/TourismData/foo.txt', 'w') as f:
  f.write('Hello Google Drive!')
!cat /content/gdrive/My\ Drive/TourismData/foo.txt

Hello Google Drive!

In [355]:
# Use PDrive function
!pip install -U -q PyDrive

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [356]:
# List files in root directory
file_list = drive.ListFile({'q': "'root' in parents and trashed=false"}).GetList()
for file1 in file_list:
  print('title: %s, id: %s' % (file1['title'], file1['id']))

title: m0923023651gnt86866.pdf, id: 1ZRl2-DUcAhxmdivc6wiOPurQ6CgD5mt2
title: Guidebook.pdf, id: 1VxPPDacSy5jzX45E40dYjCB5OqxEkwlG
title: 20200912_agenda.pdf, id: 1OVa7XFIQWh2gQiL37xJiuC_H8vfoODlu
title: PythonCode, id: 1dFGhOQOJ9t5x5bJUph24v_N-mnmBKsMZ
title: ContestData, id: 1hjni0UnbkVPr81RPHgSyH74jqF3XT6PS
title: TourismData, id: 1rl2L8Vxmj4mqqFNCa23NUaypbVKazJRD
title: Pixnet整理_Mike_20190804, id: 163PlI9NvQ5wVl62z6Crp4jihVWA4nnABRnPS8tU9neY
title: Colab Notebooks, id: 13yubYLLF_3_MObjXoj-K2aGo-_UFoQZo
title: bnbdata, id: 1yWUzpFHcZDftSVqbCaepJVd9oGsm2pww

In [357]:
# Read a file
df = pd.read_csv('/content/gdrive/My Drive/ContestData/HotelData/Hotel_2020_1-6_mod.csv',encoding='utf-8')

# Notice datatypes changed in some columns.
# Check first few rows.
df.head()

                            旅館名稱Hotel Name  ... 平均房價Average Room Rate
0                      國聯⼤飯店\nUnited Hotel  ...                 1,516
1  台北寒舍喜來登⼤飯店\nSheraton Grand Taipei Hotel  ...                 4,151
2          老爺⼤酒店\nHotel Royal-Nikko Taipei  ...                 3,916
3                福華⼤飯店\nHoward Plaza Hotel  ...                 3,412
4               台北君悅酒店\nGrand Hyatt Taipei  ...                 5,494

[5 rows x 3 columns]

In [358]:
# Change column names
df.columns = ['旅館名稱', '住用率', '平均房價']
df.head()

                                      旅館名稱     住用率   平均房價
0                      國聯⼤飯店\nUnited Hotel  23.84%  1,516
1  台北寒舍喜來登⼤飯店\nSheraton Grand Taipei Hotel  24.56%  4,151
2          老爺⼤酒店\nHotel Royal-Nikko Taipei  35.37%  3,916
3                福華⼤飯店\nHoward Plaza Hotel  18.31%  3,412
4               台北君悅酒店\nGrand Hyatt Taipei  19.65%  5,494

In [359]:
# Remove English 
df['旅館名稱'] = df['旅館名稱'].str.replace('[\nA-Za-z]', '')
df.head()

            旅館名稱     住用率   平均房價
0         國聯⼤飯店   23.84%  1,516
1  台北寒舍喜來登⼤飯店     24.56%  4,151
2       老爺⼤酒店 -   35.37%  3,916
3        福華⼤飯店    18.31%  3,412
4       台北君悅酒店    19.65%  5,494

In [360]:
# Remove columns
#df2.drop(columns=['level_0', 'index'], axis=1, inplace=True)
#df2.head()

In [361]:
# Check datatypes
df.dtypes

旅館名稱    object
住用率     object
平均房價    object
dtype: object

In [362]:
# Remove % and ,
# Change datatype
df['住用率'] = df['住用率'].str.replace('%', '').astype('float') / 100.0
df['平均房價'] = df['平均房價'].str.replace(',', '').astype('int')

df.head()

            旅館名稱     住用率  平均房價
0         國聯⼤飯店   0.2384  1516
1  台北寒舍喜來登⼤飯店     0.2456  4151
2       老爺⼤酒店 -   0.3537  3916
3        福華⼤飯店    0.1831  3412
4       台北君悅酒店    0.1965  5494

In [363]:
# check datatype
df.dtypes

旅館名稱     object
住用率     float64
平均房價      int64
dtype: object

In [364]:
# For convenient use
df3=df

# Change float to 住用率
df3['住用率'] = df3['住用率'].multiply(100)

# Sort data by 住用率
df4 = df3.sort_values(by=['住用率'],ascending=False)

# Add % to 住用率
df4['住用率']=df4['住用率'].astype(str)+'%'

# Add a comma into an integer column into 平均房價
df4['平均房價'] = df4.apply(lambda x: "{:,}".format(x['平均房價']), axis=1)

# reset index
df4 = df4.reset_index()

# Index to start with 1
df4.index = df4.index + 1

# Remove 2nd index
df4=df4.drop(df4.columns[[0]],axis=1)

df4.head(20)

                    旅館名稱                  住用率    平均房價
1               凱撒⼤飯店                  80.98%   4,270
2             知本老爺⼤酒店                  74.14%   4,216
3            太魯閣晶英酒店  ,                64.23%   7,941
4             礁溪老爺⼤酒店  -               63.55%   7,123
5               阿⾥⼭賓館新館    61.25000000000001%   5,212
6             涵碧樓⼤飯店                   58.06%  13,917
7             花蓮翰品酒店                   57.98%   2,400
8             遠雄悅來⼤飯店 ,                55.75%   2,656
9                  合尊酒店                55.21%   3,006
10          雲品溫泉酒店⽇⽉潭     53.849999999999994%   8,937
11           ⼤板根渡假酒店       51.96000000000001%   4,614
12       ⻑榮鳳凰酒店(礁溪)   ()   50.46000000000001%   5,349
13          台南⼤員皇冠假⽇酒店                 50.11%   3,014
14         ⽇勝⽣加賀屋國際溫泉飯店-                49.5%   5,714
15        瑞穗天合國際觀光酒店   ,               48.57%   7,124
16  香格⾥拉台南遠東國際⼤飯店-’    ,               48.48%   3,544
17               趣淘漫旅                  47.66%   2,832
18               台中港酒店                 47.33%   2,594
19          娜路彎⼤酒店   &                 46.52%   3,844
20                台南⼤飯店                44.72%   2,007

In [365]:
df3.dtypes

旅館名稱     object
住用率     float64
平均房價      int64
dtype: object

In [366]:
# Sort data by 平均房價
df5 = df3.sort_values(by=['平均房價'],ascending=False)

# Add a comma into an integer column into 平均房價
df5['平均房價'] = df5.apply(lambda x: "{:,}".format(x['平均房價']), axis=1)

# Add % into 住用率
df5['住用率'] = pd.Series(["{0:.2f}%".format(val * 1) for val in df5['住用率']], index = df5.index)

# reset index
df5 = df5.reset_index()

# Remove 2nd index
df5=df5.drop(df5.columns[[0]],axis=1)

# Index to start with 1
df5.index = df5.index + 1

df5.head(20)

                     旅館名稱     住用率    平均房價
1             北投麗禧溫泉酒店     30.06%  14,982
2              涵碧樓⼤飯店      58.06%  13,917
3               ⽇⽉⾏館   &   23.06%  10,947
4                蘭城晶英酒店    40.50%   9,095
5            雲品溫泉酒店⽇⽉潭     53.85%   8,937
6                 晶英國際⾏館   16.77%   7,952
7             太魯閣晶英酒店  ,   64.23%   7,941
8                   台北飯店   24.12%   7,916
9          瑞穗天合國際觀光酒店   ,  48.57%   7,124
10             礁溪老爺⼤酒店  -  63.55%   7,123
11            台北寒舍艾美酒店     28.26%   7,001
12               北投老爺酒店    36.18%   6,056
13          ⽇勝⽣加賀屋國際溫泉飯店-  49.50%   5,714
14             台北美福⼤飯店     24.24%   5,622
15                 阿⾥⼭賓館   35.49%   5,612
16            名⼈堂花園⼤飯店     17.43%   5,594
17  香格⾥拉台北遠東國際⼤飯店-'    ,   21.60%   5,529
18               台北君悅酒店    19.65%   5,494
19        ⻑榮鳳凰酒店(礁溪)   ()  50.46%   5,349
20               台北萬豪酒店    23.26%   5,254