<a href="https://colab.research.google.com/github/cwcheng0/LionTravel/blob/master/LionTry1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Lion Travel Try1
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve
from sklearn.metrics import mean_absolute_error as MAE
import gc
import matplotlib
import matplotlib.pyplot as plt
from IPython.display import display, HTML

In [2]:
# Mount Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [3]:
# Create a file
with open('/content/gdrive/My Drive/LionData/foo.txt', 'w') as f:
  f.write('Hello Google Drive!')
!cat /content/gdrive/My\ Drive/LionData/foo.txt

Hello Google Drive!

In [0]:
# Use PDrive function
!pip install -U -q PyDrive

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [13]:
# List files
file_list = drive.ListFile({'q': "'root' in parents and trashed=false"}).GetList()
for file1 in file_list:
  print('title: %s, id: %s' % (file1['title'], file1['id']))

title: LionData, id: 1wZoi3A5fUjpmu3y_cCdqsBEbXktRh1_l
title: foo.txt, id: 1-1jT1Natx6cyvEUgHdUKg31MywGT3siC
title: foo2.txt, id: 18MKglXa8pcI95jBXzMTl42u2AIR99TQu
title: 湯桂禎旅行社_20181019, id: 14ntE30_-iR-qc0P4pk31vkaO8OOcjCRGrEh5CxYtj5M
title: FINAL Brisbane Tourism Investment Guide, id: 1JdYmuHT19TZyV-uaizPK6PGopPQWu8xC
title: 詹宏志：論補貼與蝦皮之役_20180607, id: 1PySk7v0bswrM4-Lo1U8RFT7GcdepmDjeS2eEpfOY9nI
title: 創業家兄弟法說會_20180801.pdf, id: 14JhXbgTj-5QE9K4ac_pPlIPJ2iwUo4FK
title: submit-sample.json, id: 1s6CjebwO3s9Y3K6vrZhEC3UsaptWdXJD
title: 德國合作的药店_201805, id: 1doG5yuzIv6TCW8ENcBsA6P77yGqTxpp09ft9DuYCCaE
title: et_20180427 - Chih-wei Cheng.tar, id: 1OU4uMxGY82uFEINjMRFXhjBRFUbublmA
title: 東森-新客成交預測與舊客商品偏好預測_20180426 - Chih-wei Cheng.pdf, id: 1Ft6pD5EfRA-KKMeELlqmEPPwtj3aF8DW
title: et_20180427.tar, id: 1ydPjPjjZihKBPKM3rLblDHQCvzTo1z-l
title: 東森-新客成交預測與舊客商品偏好預測_20180426.pdf, id: 1VLLGTPHvllOoTTiq45f8DGNp4E_WenAD
title: ai, id: 1kRULtH-0zQDSu5aL0JGNZEankknAWgpV
title: personal, id: 1aWTpM3zv5nf1ehe0fElvIMgL0nnjib27
title: bnbdata, id: 1N4KtGq1bwK122mkUS5hGyAkdJmkIbjo7
title: Colab Notebooks, id: 1SRIet5D_ShcqHVEsM2uLcwSg78TVmRlx
title: HelloFax, id: 0B0PbabVyLQgSV3ZPT1o4ZVdtakU
title: Picture, id: 0B0PbabVyLQgSbnJOQktZX3ViNUU

In [6]:
df = pd.read_csv('/content/gdrive/My Drive/LionData/airline.csv')
df.head()

   group_id go_back         fly_time src_airport      arrive_time dst_airport
0     63695      去程  2017/3/22 23:30    TPE 桃園機場  2017/3/22 14:15   HNL 檀香山機場
1     63695      回程   2017/4/1 14:30   LAX 洛杉機機場   2017/4/2 21:00    TPE 桃園機場
2     53481      去程  2017/5/17 23:00    TPE 桃園機場  2017/5/17 14:45   HNL 檀香山機場
3     53481      回程  2017/5/27 16:00   LAX 洛杉機機場  2017/5/28 21:05    TPE 桃園機場
4     54305      去程  2017/6/21 23:30    TPE 桃園機場  2017/6/21 14:15   HNL 檀香山機場

In [7]:
df = pd.read_csv('/content/gdrive/My Drive/LionData/group.csv')
df.head()

,group_id,sub_line,area,days,begin_date,price,product_name,promotion_prog
0,63695,subline_value_1,area_value_1,12,22-Mar-17,106900,最高省8000》大美西～夏威夷、優勝美地、西峽天空步道、聖地牙哥、環球影城(哈利波特)12日,&lt;B&gt;[GG]《行銷活動》[//]&lt;/B&gt;&lt;font face...
1,53481,subline_value_1,area_value_1,12,17-May-17,112900,《玩樂369》旗艦大美西12日～升等五星、優勝美地、西峽天空步道、卡利哥鬼鎮、環球影城大美西12日,&lt;B&gt;[GG]《行銷活動》[//]&lt;/B&gt;&lt;font face...
2,54305,subline_value_1,area_value_1,12,21-Jun-17,115900,《玩樂369》旗艦大美西12日～升等五星、優勝美地、西峽天空步道、卡利哥鬼鎮、環球影城大美西12日,&lt;B&gt;[GG]《行銷活動》[//]&lt;/B&gt;&lt;font face...
3,41766,subline_value_1,area_value_1,12,12-Jul-17,126900,《玩樂369》旗艦大美西12日～升等五星、優勝美地、西峽天空步道、卡利哥鬼鎮、環球影城大美西12日,&lt;B&gt;[GG]《行銷活動》[//]&lt;/B&gt;&lt;font face...
4,32196,subline_value_1,area_value_1,12,9-Aug-17,126900,《玩樂369》旗艦大美西12日～升等五星、優勝美地、西峽天空步道、卡利哥鬼鎮、環球影城大美西12日,&lt;B&gt;[GG]《行銷活動》[//]&lt;/B&gt;&lt;font face...

In [8]:
df = pd.read_csv('/content/gdrive/My Drive/LionData/day_schedule.csv')
df.head()

   group_id  day                                              title
0     63695  1.0                   台北 [AIR]歐胡島市區觀光【州政府．皇宮．國王銅像．中國城】
1     63695  2.0  夏威夷小環島【鑽石頭山．恐龍灣．噴泉口】－珍珠港[BOATS]豪華愛之船Star of Ho...
2     63695  3.0                                      夏威夷 [AIR] 舊金山
3     63695  4.0     舊金山市區觀光【藝術宮．金門大橋．金門公園．漁人碼頭．金門灣遊船．市政廳．雙子峰．九曲花街】
4     63695  5.0                      舊金山－300KM－優勝美地國家公園－100KM－佛雷斯諾

In [9]:
df = pd.read_csv('/content/gdrive/My Drive/LionData/order.csv')
df.head()

,order_id,group_id,order_date,source_1,source_2,unit,people_amount
0,136100,63695,5-Jan-17,src1_value_1,src2_value_1,unit_value_1,2
1,140370,63695,9-Nov-16,src1_value_1,src2_value_1,unit_value_2,1
2,211009,63695,20-Jan-17,src1_value_1,src2_value_1,unit_value_3,2
3,41571,53481,14-Mar-17,src1_value_1,src2_value_1,unit_value_4,4
4,64125,53481,27-Mar-17,src1_value_2,src2_value_1,unit_value_5,1

In [10]:
df = pd.read_csv('/content/gdrive/My Drive/LionData/cache_map.csv')
df.head()

          file_name                                                url
0  lion_cache_1.jpg  https://www.liontravel.com/Comm/2TRS/HotSale/p...
1  lion_cache_2.jpg  https://www.liontravel.com/Comm/2TRS/HotSale/p...
2  lion_cache_3.jpg  https://www.liontravel.com/Comm/2trs/hotsale/p...
3  lion_cache_4.jpg  https://www.liontravel.com/Comm/2TRS/HotSale/p...
4  lion_cache_5.jpg  https://www.liontravel.com/Comm/2TRS/HotSale/p...

In [11]:
df = pd.read_csv('/content/gdrive/My Drive/LionData/testing-set.csv')
df.head()

   order_id  deal_or_not
0    136100          NaN
1    140370          NaN
2    211009          NaN
3      5045          NaN
4     37230          NaN

In [12]:
df = pd.read_csv('/content/gdrive/My Drive/LionData/training-set.csv')
df.head()

   order_id  deal_or_not
0     41571            1
1     64125            1
2     76131            0
3    238671            0
4     93305            1