<a href="https://colab.research.google.com/github/cwcheng0/LionTravel/blob/master/LionTry2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# 旅遊訂單成行預測
# Source https://tbrain.trendmicro.com.tw/Competitions/Details/4
# Filename: Lion Travel Try1
# Load basic libraries
# Reference Kaggle競賽-鐵達尼號生存預測 https://bit.ly/2EJubnu
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve
from sklearn.metrics import mean_absolute_error as MAE
import gc
import matplotlib
import matplotlib.pyplot as plt
from IPython.display import display, HTML

In [2]:
# Mount personal Google Drive; all data files are in personal Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [3]:
# Create a file to see if it works
with open('/content/gdrive/My Drive/LionData/foo.txt', 'w') as f:
  f.write('Hello Google Drive!')
!cat /content/gdrive/My\ Drive/LionData/foo.txt

Hello Google Drive!

In [0]:
# Use PDrive function
!pip install -U -q PyDrive

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [5]:
# List files in root directory
file_list = drive.ListFile({'q': "'root' in parents and trashed=false"}).GetList()
for file1 in file_list:
  print('title: %s, id: %s' % (file1['title'], file1['id']))

title: LionData, id: 192h03HmhseVUECi1YL9BAH44nzOAOl99
title: 高雄踩線_入境專門_201811, id: 1nbkFELE6rqen4yiz8zmGoSn_D7Bzxk0oEw7WB42SGY4
title: APP Enhancement 20180922, id: 1_8eezq9xEYr-R6DdShE4qSK6jqn4DsBLSOGHCU4b4Zk
title: 2018湖南考察通知, id: 1rg6F0QGyEyOtGA0hu2-iYyFrMbN5beHtaQaGejXZL0Y
title: Colab Notebooks, id: 13yubYLLF_3_MObjXoj-K2aGo-_UFoQZo
title: 2018臺中世界花卉博覽會資訊, id: 15EtnahX4qyclEPd7NnhOVmll3IM8EHuA
title: 世紀遊輪說明會資料, id: 1KvUeeHoaP-s1wM2C9-Zr8WvdSXUjDEpc
title: 人工智慧學校: 生成對抗網路, id: 1kcbSo9k_FEAjZLNqvkCJImnUXSJ83dgi3ZD8mCvnmeY
title: Titanic.ipynb, id: 1OaUvIvIgk4kxybdORIkDbXsm-b_MMr_P
title: Python测验20题（完整答案）.ipynb, id: 1U7ltREOUspPOSv0tvTzB7ltuXEtBMP1b
title: 3.经典Kaggle案例_泰坦尼克号实战全解析.ipynb, id: 1-nVUTS-71lZjSIwK-NReb54ncYCE5HH5
title: bnbdata, id: 1yWUzpFHcZDftSVqbCaepJVd9oGsm2pww

In [6]:
# Check first 5 rows in a csv
df = pd.read_csv('/content/gdrive/My Drive/LionData/airline.csv')
df.head()

   group_id go_back         fly_time src_airport      arrive_time dst_airport
0     63695      去程  2017/3/22 23:30    TPE 桃園機場  2017/3/22 14:15   HNL 檀香山機場
1     63695      回程   2017/4/1 14:30   LAX 洛杉機機場   2017/4/2 21:00    TPE 桃園機場
2     53481      去程  2017/5/17 23:00    TPE 桃園機場  2017/5/17 14:45   HNL 檀香山機場
3     53481      回程  2017/5/27 16:00   LAX 洛杉機機場  2017/5/28 21:05    TPE 桃園機場
4     54305      去程  2017/6/21 23:30    TPE 桃園機場  2017/6/21 14:15   HNL 檀香山機場

In [7]:
# Check first 5 rows in a csv
group = pd.read_csv('/content/gdrive/My Drive/LionData/group.csv')
group.head()

,group_id,sub_line,area,days,begin_date,price,product_name,promotion_prog
0,63695,subline_value_1,area_value_1,12,22-Mar-17,106900,最高省8000》大美西～夏威夷、優勝美地、西峽天空步道、聖地牙哥、環球影城(哈利波特)12日,&lt;B&gt;[GG]《行銷活動》[//]&lt;/B&gt;&lt;font face...
1,53481,subline_value_1,area_value_1,12,17-May-17,112900,《玩樂369》旗艦大美西12日～升等五星、優勝美地、西峽天空步道、卡利哥鬼鎮、環球影城大美西12日,&lt;B&gt;[GG]《行銷活動》[//]&lt;/B&gt;&lt;font face...
2,54305,subline_value_1,area_value_1,12,21-Jun-17,115900,《玩樂369》旗艦大美西12日～升等五星、優勝美地、西峽天空步道、卡利哥鬼鎮、環球影城大美西12日,&lt;B&gt;[GG]《行銷活動》[//]&lt;/B&gt;&lt;font face...
3,41766,subline_value_1,area_value_1,12,12-Jul-17,126900,《玩樂369》旗艦大美西12日～升等五星、優勝美地、西峽天空步道、卡利哥鬼鎮、環球影城大美西12日,&lt;B&gt;[GG]《行銷活動》[//]&lt;/B&gt;&lt;font face...
4,32196,subline_value_1,area_value_1,12,9-Aug-17,126900,《玩樂369》旗艦大美西12日～升等五星、優勝美地、西峽天空步道、卡利哥鬼鎮、環球影城大美西12日,&lt;B&gt;[GG]《行銷活動》[//]&lt;/B&gt;&lt;font face...

In [8]:
# Check first 5 rows in a csv
dschedule = pd.read_csv('/content/gdrive/My Drive/LionData/day_schedule.csv')
dschedule.head()

   group_id  day                                              title
0     63695  1.0                   台北 [AIR]歐胡島市區觀光【州政府．皇宮．國王銅像．中國城】
1     63695  2.0  夏威夷小環島【鑽石頭山．恐龍灣．噴泉口】－珍珠港[BOATS]豪華愛之船Star of Ho...
2     63695  3.0                                      夏威夷 [AIR] 舊金山
3     63695  4.0     舊金山市區觀光【藝術宮．金門大橋．金門公園．漁人碼頭．金門灣遊船．市政廳．雙子峰．九曲花街】
4     63695  5.0                      舊金山－300KM－優勝美地國家公園－100KM－佛雷斯諾

In [9]:
# Check first 5 rows in a csv
order = pd.read_csv('/content/gdrive/My Drive/LionData/order.csv')
order.head()

,order_id,group_id,order_date,source_1,source_2,unit,people_amount
0,136100,63695,5-Jan-17,src1_value_1,src2_value_1,unit_value_1,2
1,140370,63695,9-Nov-16,src1_value_1,src2_value_1,unit_value_2,1
2,211009,63695,20-Jan-17,src1_value_1,src2_value_1,unit_value_3,2
3,41571,53481,14-Mar-17,src1_value_1,src2_value_1,unit_value_4,4
4,64125,53481,27-Mar-17,src1_value_2,src2_value_1,unit_value_5,1

In [10]:
# Check first 5 rows in a csv
cache = pd.read_csv('/content/gdrive/My Drive/LionData/cache_map.csv')
cache.head()

          file_name                                                url
0  lion_cache_1.jpg  https://www.liontravel.com/Comm/2TRS/HotSale/p...
1  lion_cache_2.jpg  https://www.liontravel.com/Comm/2TRS/HotSale/p...
2  lion_cache_3.jpg  https://www.liontravel.com/Comm/2trs/hotsale/p...
3  lion_cache_4.jpg  https://www.liontravel.com/Comm/2TRS/HotSale/p...
4  lion_cache_5.jpg  https://www.liontravel.com/Comm/2TRS/HotSale/p...

In [0]:
# Second column is the target we want to predict
test = pd.read_csv('/content/gdrive/My Drive/LionData/testing-set.csv')

In [0]:
# This is the training file
train = pd.read_csv('/content/gdrive/My Drive/LionData/training-set.csv')

In [13]:
# 使用 Describe 來觀察 train 資料分布
train.describe()

            order_id    deal_or_not
count  297020.000000  297020.000000
mean   156583.192866       0.197253
std     95659.738870       0.397925
min         1.000000       0.000000
25%     75101.750000       0.000000
50%    150249.500000       0.000000
75%    234075.250000       0.000000
max    340111.000000       1.000000

In [0]:
# Data merge: merge data in the provided files
# 查詢以下資料特徵:是否容易成團
# 價錢高低/資料來源1或2/出團時間是否假日/出發機場是否跟成團有關/目的地area是否跟成團有關/天數是否跟成團有關/標題是否跟成團有關/圖片是否跟成團有關/目的地機場是否跟成團有關

In [15]:
group.iloc[0]

group_id                                                      63695
sub_line                                            subline_value_1
area                                                   area_value_1
days                                                             12
begin_date                                                22-Mar-17
price                                                        106900
product_name         最高省8000》大美西～夏威夷、優勝美地、西峽天空步道、聖地牙哥、環球影城(哈利波特)12日
promotion_prog    &lt;B&gt;[GG]《行銷活動》[//]&lt;/B&gt;&lt;font face...
Name: 0, dtype: object

In [16]:
# Check original train info
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297020 entries, 0 to 297019
Data columns (total 2 columns):
order_id       297020 non-null int64
deal_or_not    297020 non-null int64
dtypes: int64(2)
memory usage: 4.5 MB

In [19]:
# Check original test info
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99895 entries, 0 to 99894
Data columns (total 2 columns):
order_id        99895 non-null object
 deal_or_not    0 non-null float64
dtypes: float64(1), object(1)
memory usage: 1.5+ MB

In [0]:
# What's next?
# Model?