<a href="https://colab.research.google.com/github/cwcheng0/LionTravel/blob/master/TaiwanTourismMonthly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Read Taiwan Tourism Public Company data
# Reveal monthly revenues
# Load libraries
import pandas as pd
import requests
from io import StringIO
import datetime
import time
def monthly_report(year, month):
    
    # 假如是西元，轉成民國
    if year > 1990:
        year -= 1911
    
    url = 'http://mops.twse.com.tw/nas/t21/sii/t21sc03_'+str(year)+'_'+str(month)+'_0.html'
    if year <= 98:
        url = 'http://mops.twse.com.tw/nas/t21/sii/t21sc03_'+str(year)+'_'+str(month)+'.html'
    
    # sudo browser
    headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}
    
    # Load current data and use pandas to dataframe
    r = requests.get(url, headers=headers)
    r.encoding = 'big5'
    html_df = pd.read_html(StringIO(r.text))
    
    # 處理一下資料
    if html_df[0].shape[0] > 500:
        df = html_df[0].copy()
    else:
        df = pd.concat([df for df in html_df if df.shape[1] <= 11])
        
    df = df[list(range(0,10))]
    column_index = df.index[(df[0] == '公司代號')][0]
    df.columns = df.iloc[column_index]
    df['當月營收'] = pd.to_numeric(df['當月營收'], 'coerce')
    df = df[~df['當月營收'].isnull()]
    df = df[df['公司代號'] != '合計']
    
    # times
    time.sleep(5)

    return df

In [50]:
# Define some data; get 2018 November data
now = datetime.datetime.now()
year = now.year - 1911
month = now.month - 1

# Get current data
data = monthly_report(year, month)
data.head()

4,公司代號,公司名稱,當月營收,上月營收,去年當月營收,上月比較增減(%),去年同月增減(%),當月累計營收,去年累計營收,前期比較增減(%)
5,1101,台泥,11784150.0,11753303,9985897,0.26,18.00,113194808,87325356,29.62
6,1102,亞泥,7626297.0,7657714,6639248,-0.41,14.86,76199623,57828557,31.76
7,1103,嘉泥,183786.0,178401,181868,3.01,1.05,1857394,1914494,-2.98
8,1104,環球水泥,421815.0,457241,381565,-7.74,10.54,4315498,4005579,7.73
9,1108,幸福水泥,269955.0,300242,258913,-10.08,4.26,3030620,3111700,-2.60

In [51]:
# Delete some columns
data.drop(['上月營收', '去年當月營收', '上月比較增減(%)', '去年同月增減(%)', '當月累計營收', '去年累計營收', '前期比較增減(%)'], inplace=True, axis=1, errors='ignore')

# Drop some rows
data.drop(data.index[:736], inplace=True)

# Drop last rows
data.drop(data.tail(103).index,inplace=True)

# Reset index
data_201811 = data.reset_index(drop=True)

# Replace Column names
data_201811.columns = data_201811.columns.str.replace('公司代號','代號')
data_201811.columns = data_201811.columns.str.replace('公司名稱','名稱')
data_201811.columns = data_201811.columns.str.replace('當月營收','11月營收')

# Check data
data_201811

4     代號    名稱      11月營收
0   2701    萬企    26711.0
1   2702    華園    82037.0
2   2704    國賓   245348.0
3   2705    六福   272544.0
4   2706   第一店    28834.0
5   2707  晶華酒店   520051.0
6   2712   遠雄來    19923.0
7   2722    夏都    50029.0
8   2727    王品  1247756.0
9   2731  雄獅旅遊  2170160.0
10  2739  寒舍餐旅   373807.0
11  2748    雲品   195774.0
12  5706  鳳凰旅遊   170373.0
13  8940   新天地   112459.0
14  9943   好樂迪   218592.0

In [52]:
# Get 2018 October data
now = datetime.datetime.now()
year = now.year - 1911 -1
month = now.month - 2

# Get current data
data = monthly_report(year, month)
data.head()

# Delete some columns
data.drop(['上月營收', '去年當月營收', '上月比較增減(%)', '去年同月增減(%)', '當月累計營收', '去年累計營收', '前期比較增減(%)'], inplace=True, axis=1, errors='ignore')

# Drop some rows
data.drop(data.index[:733], inplace=True)

# Drop last rows
data.drop(data.tail(103).index,inplace=True)

# Reset index
data_201810 = data.reset_index(drop=True)

# Replace Column names
data_201810.columns = data_201810.columns.str.replace('公司代號','代號')
data_201810.columns = data_201810.columns.str.replace('公司名稱','名稱')
data_201810.columns = data_201810.columns.str.replace('當月營收','10月營收')

# Check data
data_201810

4     代號    名稱      10月營收
0   2701    萬企    30283.0
1   2702    華園   125105.0
2   2704    國賓   259404.0
3   2705    六福   290283.0
4   2706   第一店    27189.0
5   2707  晶華酒店   613573.0
6   2712   遠雄來    47004.0
7   2722    夏都    58885.0
8   2727    王品  1289938.0
9   2731  雄獅旅遊  2625700.0
10  2739  寒舍餐旅   415009.0
11  2748    雲品   144884.0
12  5706  鳳凰旅遊   359270.0
13  8940   新天地   152922.0
14  9943   好樂迪   251580.0

In [53]:
# Get 2018 September data
now = datetime.datetime.now()
year = now.year - 1911 -2
month = now.month - 3

# Get current data
data = monthly_report(year, month)
data.head()

# Delete some columns
data.drop(['上月營收', '去年當月營收', '上月比較增減(%)', '去年同月增減(%)', '當月累計營收', '去年累計營收', '前期比較增減(%)'], inplace=True, axis=1, errors='ignore')

# Drop some rows
data.drop(data.index[:729], inplace=True)

# Drop last rows
data.drop(data.tail(101).index,inplace=True)

# Reset index
data_201809 = data.reset_index(drop=True)

# Replace Column names
data_201809.columns = data_201809.columns.str.replace('公司代號','代號')
data_201809.columns = data_201809.columns.str.replace('公司名稱','名稱')
data_201809.columns = data_201809.columns.str.replace('當月營收','9月營收')

# Check data
data_201809

4     代號    名稱       9月營收
0   2701    萬企    31470.0
1   2702    華園   106995.0
2   2704    國賓   310902.0
3   2705    六福   238354.0
4   2706   第一店    25966.0
5   2707  晶華酒店   560795.0
6   2712   遠雄來    40964.0
7   2722    夏都    52671.0
8   2727    王品  1180755.0
9   2731  雄獅旅遊  1912496.0
10  2739  寒舍餐旅   319898.0
11  2748    雲品    96299.0
12  5706  鳳凰旅遊   314141.0
13  8940   新天地    98805.0
14  9943   好樂迪   238586.0

In [54]:
# Get 2018 August data
now = datetime.datetime.now()
year = now.year - 1911 -3
month = now.month - 4

# Get current data
data = monthly_report(year, month)
data.head()

# Delete some columns
data.drop(['上月營收', '去年當月營收', '上月比較增減(%)', '去年同月增減(%)', '當月累計營收', '去年累計營收', '前期比較增減(%)'], inplace=True, axis=1, errors='ignore')

# Drop some rows
data.drop(data.index[:725], inplace=True)

# Drop last rows
data.drop(data.tail(99).index,inplace=True)

# Reset index
data_201808 = data.reset_index(drop=True)

# Replace Column names
data_201808.columns = data_201808.columns.str.replace('公司代號','代號')
data_201808.columns = data_201808.columns.str.replace('公司名稱','名稱')
data_201808.columns = data_201808.columns.str.replace('當月營收','8月營收')

# Check data
data_201808

4     代號    名稱       8月營收
0   2701    萬企    40846.0
1   2702    華園    65812.0
2   2704    國賓   270812.0
3   2705    六福   267156.0
4   2706   第一店    29700.0
5   2707  晶華酒店   509434.0
6   2712   遠雄來    61650.0
7   2722    夏都    92726.0
8   2727    王品  1644770.0
9   2731  雄獅旅遊  2013230.0
10  2739  寒舍餐旅   317521.0
11  2748    雲品    83537.0
12  5706  鳳凰旅遊   296421.0
13  8940   新天地    54284.0
14  9943   好樂迪   272875.0

In [0]:
# Delete unnecessary columns in some tables
data_201810.drop(['代號','名稱'], inplace=True, axis=1, errors='ignore')
data_201809.drop(['代號','名稱'], inplace=True, axis=1, errors='ignore')
data_201808.drop(['代號','名稱'], inplace=True, axis=1, errors='ignore')

In [56]:
# Merge tables
result = pd.concat([data_201811, data_201810, data_201809, data_201808], axis=1)

result

4     代號    名稱      11月營收      10月營收       9月營收       8月營收
0   2701    萬企    26711.0    30283.0    31470.0    40846.0
1   2702    華園    82037.0   125105.0   106995.0    65812.0
2   2704    國賓   245348.0   259404.0   310902.0   270812.0
3   2705    六福   272544.0   290283.0   238354.0   267156.0
4   2706   第一店    28834.0    27189.0    25966.0    29700.0
5   2707  晶華酒店   520051.0   613573.0   560795.0   509434.0
6   2712   遠雄來    19923.0    47004.0    40964.0    61650.0
7   2722    夏都    50029.0    58885.0    52671.0    92726.0
8   2727    王品  1247756.0  1289938.0  1180755.0  1644770.0
9   2731  雄獅旅遊  2170160.0  2625700.0  1912496.0  2013230.0
10  2739  寒舍餐旅   373807.0   415009.0   319898.0   317521.0
11  2748    雲品   195774.0   144884.0    96299.0    83537.0
12  5706  鳳凰旅遊   170373.0   359270.0   314141.0   296421.0
13  8940   新天地   112459.0   152922.0    98805.0    54284.0
14  9943   好樂迪   218592.0   251580.0   238586.0   272875.0

In [59]:
# Read Lion Travel monthly revenues for 2018
# Use a library to draw a plot
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt

# Monthly Revenues for 2731
rep_plot = df_units.groupby("Rep").sum().plot(kind='bar')
rep_plot.set_xlabel("Rep")
rep_plot.set_ylabel("Units")

KeyError: ignored

In [0]:
# OTC
# Read Taiwan OTC Tourism Company data
# Reveal monthly revenues
# Load libraries
import pandas as pd
import requests
from io import StringIO
import datetime
import time
def monthly_report(year, month):
    
    # 假如是西元，轉成民國
    if year > 1990:
        year -= 1911
    
    url = 'http://mops.twse.com.tw/nas/t21/otc/t21sc03_'+str(year)+'_'+str(month)+'_0.html'
    if year <= 98:
        url = 'http://mops.twse.com.tw/nas/t21/otc/t21sc03_'+str(year)+'_'+str(month)+'.html'
    
    # sudo browser
    headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}
    
    # Load current data and use pandas to dataframe
    r = requests.get(url, headers=headers)
    r.encoding = 'big5'
    html_df = pd.read_html(StringIO(r.text))
    
    # 處理一下資料
    if html_df[0].shape[0] > 500:
        df = html_df[0].copy()
    else:
        df = pd.concat([df for df in html_df if df.shape[1] <= 11])
        
    df = df[list(range(0,10))]
    column_index = df.index[(df[0] == '公司代號')][0]
    df.columns = df.iloc[column_index]
    df['當月營收'] = pd.to_numeric(df['當月營收'], 'coerce')
    df = df[~df['當月營收'].isnull()]
    df = df[df['公司代號'] != '合計']
    
    # times
    time.sleep(5)

    return df

In [65]:
# Define some data; get 2018 November data
now = datetime.datetime.now()
year = now.year - 1911
month = now.month - 1

# Get current data
data = monthly_report(year, month)
data.head()

4,公司代號,公司名稱,當月營收,上月營收,去年當月營收,上月比較增減(%),去年同月增減(%),當月累計營收,去年累計營收,前期比較增減(%)
5,1264,德麥,346131.0,307163,328718,12.68,5.29,3585399,3308157,8.38
6,1796,金穎生技,35517.0,37385,22463,-4.99,58.11,323828,319621,1.31
7,4205,中華食品,127221.0,132207,118853,-3.77,7.04,1365450,1291286,5.74
8,4207,環泰企業,296586.0,329633,272950,-10.02,8.65,3490071,3077972,13.38
9,4712,南璋,4842.0,5724,29537,-15.40,-83.60,100762,239185,-57.87

In [69]:
data.index[500]

570

In [0]:
# Delete some columns
data.drop(['上月營收', '去年當月營收', '上月比較增減(%)', '去年同月增減(%)', '當月累計營收', '去年累計營收', '前期比較增減(%)'], inplace=True, axis=1, errors='ignore')

# Drop some rows
data.drop(data.index[:736], inplace=True)

# Drop last rows
data.drop(data.tail(103).index,inplace=True)

# Reset index
data_201811 = data.reset_index(drop=True)

# Replace Column names
data_201811.columns = data_201811.columns.str.replace('公司代號','代號')
data_201811.columns = data_201811.columns.str.replace('公司名稱','名稱')
data_201811.columns = data_201811.columns.str.replace('當月營收','11月營收')

# Check data
data_201811